.card img {
height: 100px;
width: 100px;
}

.cards {
    display:flex;
    justify-content:space-evenly;
    margin: 0;
    align-items: center;
    padding: 30px;
}

.card {
    box-shadow: 0 0 5px grey;
    text-align: center;
    padding: 15px;
}

.cards-title h2 {
    text-align: center;
}

